#contribute {
    position: fixed;
    top: 20px;
    left: 20px;
}

#artbox .artobject {
    display: inline-block;
    float: left;
    border: 1px solid #FFFFFF
}

#artbox .artobject:hover {
    border: 1px solid #808080
}

#artbox .artobject.selected {
    border: 1px solid #80FF80
}