body {
    background-image: url(pics/full-background.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-color: #6b5d50;
}

/* Smartphones ----------- */
@media only screen and (max-width: 480px) {
    body {
        background-image: none;
    }

    #googlesearch {
        display: none;
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.gn_wrapper {
    background-color: #6b5d50;
}

section.toc_topic header {
    background-color: #6b5d50;
}

#navigation_global_container {
    /*background-color: transparent;*/
}

section.toc_topic.onscreen header {
    /*background-color: #dfdcc3;*/
    background-color: rgba(223, 220, 195, .6);
}

section.toc_topic {
    padding: 10px 0;
}

.content_section {
    color: white;
    text-align: center;
    margin: auto;
    max-width: 700px;
}

.content_h2 {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.content_h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.content_section button {
    font-family:"Arial";
    font-size:13px;
    font-style:normal;
    font-weight:normal;
    color:#FFFFFF;
    border-color:#FFFFFF;
    border-style:solid;
    border-width:1px;
    border-radius:0px;
    background-color:#6A5C4F;
    padding: 0.46em 1.23em;
    outline: 0;
    line-height: 23px;
}

.content_section button:hover{
    background-color:#cfb39a
}

.hidden-separator {
    height: 40px;
}

.location-separator {
    background-position: center;
    background-image: url(https://www.theknot.com/static/xo-guest-services/assets/guest/themes/fireflies-zuni_brown/item_separator-8ef09f1a150e3afd9848b50bee06bc92.png);
    height: 80px;
    background-repeat: no-repeat;
}

.content-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.content-header .gn_wrapper {
    background-image: url(pics/full-background.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}
